


/* region header */

/* region main */

/* first main section */


/* two main section */

/* three main section */

/* four main section */

/* end four main section */


/* footer */

/* .footer-logo {
  background-color: #2e2f42;
  padding: 100px 0;
  border-bottom: 1px solid #2e2f42;
} */

.footer-section-logo {
  min-width: 300px;
  margin-right: 120px;
  align-items: baseline;
}

/* .page-logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
} */

/* .footer-logo .logo-nav {
  color: #f4f4fd;
} */

/* .description-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
} */

.footer-section-social {
  margin-right: 80px;
  align-items: baseline;
}

/* .description-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
} */

/* .social-footer {
  display: flex;
  gap: 16px;
}

.social-item {
  width: 40px;
  height: 40px;
} */

/* .link-social-footer {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .link-social-footer:hover,
.link-social-footer:focus {
  transform: scale(1.1);
  opacity: 0.9;
  background-color: #31d0aa;
} */

/* .link-social-footer svg {
  fill: #f4f4fd;
} */

.footer-logo .container {
  display: flex;
  align-items: baseline;
}


.footer-subscribe {

}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.label-field-subscribe{

}
/* .subscribe-email {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  
} */

/* .button-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  margin-right: 16px;
  padding: 0;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.button-subscribe:hover,
.button-subscribe:focus {
  /* transform: scale(1.1);
  opacity: 0.9; */
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-svg-subscribe {
  fill: #fff;
  margin-left: 16px;
}

.subscribe-email:focus {
  border: 1px solid #31d0aa;
  outline: none;
}

/* mod section */

.backdrop {
position: fixed;
overflow: auto;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
opacity: 0;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
visibility: hidden;
pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events:auto;

}

.modal {
position: absolute;
border-radius: 4px;
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
width: 408px;
min-height: 584px;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background-color: #fcfcfc;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 72px 24px 24px 24px;
}

.modal-title {
  max-width: 360px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;

 
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.close-popup {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.close-popup:hover,
.close-popup:focus {
  background-color: #404BBF;
  border: none;
  fill: #ffffff;


}
.close-popup:hover,
.close-popup:focus + .close-popup-item {
  fill: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.close-popup-item {
  position:static;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  stroke: none;

}

.form-wraper {
  margin-bottom: 8px;
}


.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}
    
 .form-input:focus + .field-form-item {
  fill: #4D5AE5;
}

.field-form-item {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 16px;
  fill: #2E2F42;
  stroke: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-comment {
  
}

.form-wraper-comment {
  margin-bottom: 16px;
}

.label-field {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.form-input-svg {
  position: relative;
}

.textarea-field {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  width: 100%;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
  resize: none;
  outline: transparent;
}



.textarea-field:focus {
  border: 1px solid #4d5ae5;
}

.polisy-checkbox {
  margin-bottom: 24px;
}

.modal-checkbox:checked + .polisy>.custom-checkbox {
  background-color: #404bbf;
  fill: #F4F4FD;
  border: none;
}

.polisy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.polisy a {
  text-decoration: underline;
  line-height: 1.3;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy {

}

